body{
    margin: 0px;
    padding: 0px;
}
.head1{
    text-align: center;
    background-color: pink;
   padding-top: 50px;
   margin-top: 0px;
}
body{
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    text-align: center;
}